*{
	/*margin: 10px;*/

}

#login_header{
	text-align: center;
}
div
{	
   margin: 10px;

}
#more {
	display: none;
}

#homebd{
	margin-top: 5%;
}
.cls1{
	position: absolute;
  	right: 0;

}
.cls2{
	position: relative;
	margin-top: 10%;
	margin-left: 20%;
	width:50%;

}
#uname{
	margin: 5px;
}

.link{
    text-decoration: none;
}
#footer{
	margin: 10px;
}
section{
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    border-radius: 12px
}
.image{
  /*  background-color: #12192c;*/
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;

}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: bold;
    opacity: 0.7;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

#btnlm{

}









